<!DOCTYPE html>
<html ng-app="test">
	<head>
		<title>ng-image-gallery</title>
		<meta name="viewport" content="width=device-width, initial-scale=1"/>

		<!-- Local Dependencies -->
		<!-- <script src="../bower_components/angular/angular.js"></script>
		<script src="../bower_components/angular-animate/angular-animate.js"></script>
		<script src="../bower_components/hammerjs/hammer.min.js"></script> -->

		<!-- Dependencies -->
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-animate.js"></script>
		<script src="https://rawgit.com/hammerjs/hammer.js/v2.0.8/hammer.min.js"></script>

		<!-- Module files-->
		<script src="../dist/ng-image-gallery.min.js"></script>
		<link href="../dist/ng-image-gallery.min.css" rel="stylesheet"/>
	</head>
	<body ng-controller="main">
		<h1>ng-image-gallery</h1>

		<button ng-click="openGallery()">Open Gallery</button>
		<button ng-click="removePhoto()">Remove Photo</button>
		
		<br/>
		<br/>
		<br/>

		<ng-image-gallery images="images" methods="methods" conf="conf" on-open="opened();" on-close="closed();"></ng-image-gallery>

		<script>
			angular
			.module('test', ['thatisuday.ng-image-gallery'])
			.controller('main', function($scope, $timeout, $interval){
				// Local images
				$scope.images = [
					{
						url : '../test/test-images/1.jpg',
						thumbUrl : '../test/test-images/thumbs/1.jpg',
						bubbleUrl : '../test/test-images/bubbles/1.jpg',
						extUrl : 'http://google.com/image/1'
					},
					{
						url : '../test/test-images/2.jpg',
						thumbUrl : '../test/test-images/thumbs/2.jpg',
						bubbleUrl : '../test/test-images/bubbles/2.jpg',
					},
					{
						url : '../test/test-images/3.jpg',
						thumbUrl : '../test/test-images/thumbs/3.jpg',
						bubbleUrl : '../test/test-images/bubbles/3.jpg',
					},
					{
						url : '../test/test-images/4.jpg',
						thumbUrl : '../test/test-images/thumbs/4.jpg',
						bubbleUrl : '../test/test-images/bubbles/4.jpg',
						extUrl : 'http://google.com/image/4'
					},
					{
						url : '../test/test-images/5.jpg',
						thumbUrl : '../test/test-images/thumbs/5.jpg',
						bubbleUrl : '../test/test-images/bubbles/5.jpg',
					},
					{
						url : '../test/test-images/6.jpg',
						thumbUrl : '../test/test-images/thumbs/6.jpg',
						bubbleUrl : '../test/test-images/bubbles/6.jpg',
					},
					{
						url : '../test/test-images/7.jpg',
						thumbUrl : '../test/test-images/thumbs/7.jpg',
						bubbleUrl : '../test/test-images/bubbles/7.jpg',
					},
					{
						url : '../test/test-images/8.jpg',
						thumbUrl : '../test/test-images/thumbs/8.jpg',
						bubbleUrl : '../test/test-images/bubbles/8.jpg',
						extUrl : 'http://google.com/image/8'
					},
					{
						url : '../test/test-images/9.jpg',
						thumbUrl : '../test/test-images/thumbs/9.jpg',
						bubbleUrl : '../test/test-images/bubbles/9.jpg',
					}
				];

				/*****************************************************/

				// configurations
				$scope.conf = {
					bgClose : false
				};


				// Gallery methods gateway
				$scope.methods = {};
				$scope.openGallery = function(){
					$scope.methods.open();
				};

				// Gallery callbacks
				$scope.opened = function(){
					console.info('Gallery opened!');
				}

				$scope.closed = function(){
					console.warn('Gallery closed!');
				}
			})
			;
		</script>
	</body>
</html>
