<!DOCTYPE html>
<html ng-app="test">
	<head>
		<title>ng-image-gallery</title>
		<meta name="viewport" content="width=device-width, initial-scale=1"/>

		<!-- Dependencies -->
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-animate.js"></script>
		<!-- <script src="../bower_components/angular/angular.min.js"></script> -->

		<!-- Module files-->
		<script src="../dist/ng-image-gallery.min.js"></script>
		<link href="../dist/ng-image-gallery.min.css" rel="stylesheet"/>
	</head>
	<body ng-controller="main">
		<h1>ng-image-gallery</h1>
		<p>Populating more images after {{counter}} seconds.</p>

		<button ng-click="openGallery()">Open Gallery</button>
		<button ng-click="toggleThumbnails()">Enable/Disable Thumbnails</button>
		<button ng-click="toggleInline()">Modal/Inline Gallery</button>
		
		<br/>
		<br/>
		<br/>

		<ng-image-gallery images="images" methods="methods" thumbnails="thumbnails" inline="inline" on-open="opened();" on-close="closed();"></ng-image-gallery>

		<script>
			angular
			.module('test', ['thatisuday.ng-image-gallery'])
			.controller('main', function($scope, $timeout, $interval){
				$scope.counter = 5;
				var counterIntvl = $interval(function(){
					$scope.counter = $scope.counter - 1;
					if($scope.counter == 0){
						$interval.cancel(counterIntvl);
					}
				}, 1000);

				$scope.images = [
					{
						thumbUrl : 'https://pixabay.com/static/uploads/photo/2016/06/13/07/32/cactus-1453793__340.jpg',
						url : 'https://pixabay.com/static/uploads/photo/2016/06/13/07/32/cactus-1453793_960_720.jpg'
					},
					{
						url : 'https://pixabay.com/static/uploads/photo/2016/06/10/22/25/ortler-1449018_960_720.jpg'
					},
					{
						thumbUrl : 'https://pixabay.com/static/uploads/photo/2016/04/11/18/53/aviator-1322701__340.jpg',
						url : 'https://pixabay.com/static/uploads/photo/2016/04/11/18/53/aviator-1322701_960_720.jpg'
					}
				];


				// More images to populate after 5 seconds
				$scope.moreImages = [
					{
						url : 'https://pixabay.com/static/uploads/photo/2016/06/17/13/02/duck-1463317_960_720.jpg'
					},
					{
						url : 'https://pixabay.com/static/uploads/photo/2016/02/04/03/33/baby-1178539_960_720.jpg'
					},
					{
						url : 'https://pixabay.com/static/uploads/photo/2016/06/21/23/06/girl-1472195_960_720.jpg'
					}
				];

				$timeout(function(){
					$scope.images = $scope.images.concat($scope.moreImages);
				}, 5000);
				


				// Thumbnails
				$scope.thumbnails = true;
				$scope.toggleThumbnails = function(){
					$scope.thumbnails = !$scope.thumbnails;
				}

				// Inline
				$scope.inline = false;
				$scope.toggleInline = function(){
					$scope.inline = !$scope.inline;
				}

				// Gallery methods gateway
				$scope.methods = {};
				$scope.openGallery = function(){
					$scope.methods.open();
				};

				// Gallery callbacks
				$scope.opened = function(){
					alert('Gallery opened!');
				}

				$scope.closed = function(){
					alert('Gallery closed!');
				}
			})
			;
		</script>
	</body>
</html>
