<!DOCTYPE html>
<html ng-app="test">
	<head>
		<title>ng-image-gallery</title>
		<meta name="viewport" content="width=device-width, initial-scale=1"/>

		<!-- Local Dependencies -->
		<!-- <script src="../bower_components/angular/angular.js"></script>
		<script src="../bower_components/angular-animate/angular-animate.js"></script>
		<script src="../bower_components/hammerjs/hammer.min.js"></script> -->

		<!-- Dependencies -->
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-animate.js"></script>
		<script src="https://rawgit.com/hammerjs/hammer.js/v2.0.8/hammer.min.js"></script>

		<!-- Module files-->
		<script src="../dist/ng-image-gallery.min.js"></script>
		<link href="../dist/ng-image-gallery.min.css" rel="stylesheet"/>
	</head>
	<body ng-controller="main">
		<h1>ng-image-gallery</h1>
		<p ng-hide="counter == 0">Populating more images after {{counter}} seconds.</p>

		<button ng-click="openGallery()">Open Gallery</button>
		<button ng-click="removePhoto()">Remove Photo</button>
		
		<br/>
		<br/>

		<button ng-click="toggleThumbnails()">Enable/Disable Thumbnails</button>
		<button ng-click="toggleInline()">Modal/Inline Gallery</button>
		<button ng-click="toggleBubbles()">Show/Hide bubbles</button>
		<button ng-click="toggleImgBubbles()">{{(imgBubbles) ? 'Switch off' : 'Switch on'}} Image bubbles</button>
		<button ng-click="closeOnBackground()">{{(bgClose) ? 'Do not close' : 'Close'}} on background click</button>
		
		<br/>
		<br/>
		<br/>

		<ng-image-gallery images="images" methods="methods" thumbnails="thumbnails" inline="inline" bubbles="bubbles" img-bubbles="imgBubbles" bg-close="bgClose" on-open="opened();" on-close="closed();" bg-close="false"></ng-image-gallery>

		<script>
			angular
			.module('test', ['thatisuday.ng-image-gallery'])
			.controller('main', function($scope, $timeout, $interval){
				$scope.counter = 5;
				var counterIntvl = $interval(function(){
					$scope.counter = $scope.counter - 1;
					if($scope.counter == 0){
						$interval.cancel(counterIntvl);
					}
				}, 1000);
				
				// Local images
				$scope.images = [
					{
						url : '../test/test-images/1.jpg',
						extUrl : 'http://google.com/image/1'
					},
					{
						url : '../test/test-images/2.jpg'
					},
					{
						url : '../test/test-images/3.jpg'
					},
					{
						url : '../test/test-images/4.jpg',
						extUrl : 'http://google.com/image/4'
					},
					{
						url : '../test/test-images/5.jpg'
					},
					{
						url : '../test/test-images/6.jpg'
					},
					{
						url : '../test/test-images/7.jpg'
					},
					{
						url : '../test/test-images/8.jpg',
						extUrl : 'http://google.com/image/8'
					},
					{
						url : '../test/test-images/9.jpg'
					}
				];

				$scope.moreImages = [
					{
						url : '../test/test-images/10.jpg'
					},
					{
						url : '../test/test-images/11.jpg',
						extUrl : 'http://google.com/image/11'
					},
					{
						url : '../test/test-images/12.jpg'
					},
					{
						url : '../test/test-images/13.jpg'
					}
				];

				/*****************************************************/

				$timeout(function(){
					$scope.images = $scope.images.concat($scope.moreImages);
				}, 5000);
				
				$scope.removePhoto = function(){
					if($scope.images.length > 1) $scope.images.pop();
				}

				// Thumbnails
				$scope.thumbnails = true;
				$scope.toggleThumbnails = function(){
					$scope.thumbnails = !$scope.thumbnails;
				}

				// Inline
				$scope.inline = false;
				$scope.toggleInline = function(){
					$scope.inline = !$scope.inline;
				}

				// Bubbles
				$scope.bubbles = true;
				$scope.toggleBubbles = function(){
					$scope.bubbles = !$scope.bubbles;
				}

				// Image bubbles
				$scope.imgBubbles = false;
				$scope.toggleImgBubbles = function(){
					$scope.imgBubbles = !$scope.imgBubbles;
				}

				// Background close
				$scope.bgClose = false;
				$scope.closeOnBackground = function(){
					$scope.bgClose = !$scope.bgClose;
				}

				// Gallery methods gateway
				$scope.methods = {};
				$scope.openGallery = function(){
					$scope.methods.open();
				};

				// Gallery callbacks
				$scope.opened = function(){
					console.info('Gallery opened!');
				}

				$scope.closed = function(){
					console.warn('Gallery closed!');
				}
			})
			;
		</script>
	</body>
</html>
