@keyframes nigFadeIn {
	from{
		display:none;
		opacity : 0;
	}
	to{
		display:block;
		opacity : 1;
	}
}

@keyframes nigFadeOut {
	from{
		display:block;
		opacity : 1;
	}
	to{
		display:none;
		opacity : 0;
	}
}
